# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
env/

# Environment variables
.env

# Docker
*.log

# OS files
.DS_Store

# AWS keys (IMPORTANT - never upload)
*.pem

# GitHub Actions temp
*.swp